@page "/converters"
<h1>Converters</h1>


<select @bind="@selectedConverterId" class="form-control col-md-4 mb-4">
    @foreach (var converter in converters)
    {
        <option value="@converter.Id">@converter.NameOfConverter</option>
    }
</select>

@switch (selectedConverterId) //Tutaj case3 z praca domowa 
{
    case 1:
        <TimeConverter ></TimeConverter>
        break;
    case 2:
        <DistanceConverter></DistanceConverter>
        break;
    case 3:
        <CurrencyConverter></CurrencyConverter>
        break;
    default:
        <p>Please select converter</p>
        break;
}

@code {

    readonly List<Converter> converters = new List<Converter>
    {
        new Converter(1, "Time Converter"),
        new Converter(2, "Distance Converter"),
        new Converter(3, "Currency Converter")
    };

    int selectedConverterId;

    public class Converter
    {
        public Converter(int id, string nameOfConverter)
        {
            Id = id;
            NameOfConverter = nameOfConverter;
        }

        public int Id { get; set; }

        public string NameOfConverter { get; set; }
    }
}
